.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: relative;
  left: 50%; */
}

h1{
  text-transform: capitalize;
}

table{
  height: auto;
  width: 80%;
  border: 1px solid black;
  text-align: center;
  line-height: 35px;
}

.App thead{
  border: 1px solid black;
  background-color: rgb(122, 140, 6);
}
/* table thead tr th{
  border: 1px solid black;
} */
tbody tr td{
  border-bottom:  1px solid black;
  border-left: 1px solid black;
}

